label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}
.label {
    margin-top: 5px;
}
.container {
    border: 0.5px solid white;
    padding: 5px;
    display: flex;
    
}